<%= render 'layouts/header'%>
<div class="container choice">
    <div class="row">
        <section class="images">
            <div class="img_texte">
                <div class="image">
                    <%=link_to (image_tag("suivrehistoire.png", alt: "suivre l'histoire")), article_url(@article) %>
                </div>
                <div class="content">
                  <div class="gradient"></div>
                  <span>Vivez l'aventure</span>
                    <div class="texte" id="texte_1">
                        <h2>Suivre l'histoire</h2>
                        <p>C'est à travers les yeux de Paul et Anna, deux jumeaux, que vous pouvez découvrir l'incroyable histoire du numérique. Grâce à leur possibilité de voyager dans le temps et dans l'espace, vous pourrez comprendre l'avancement de technologies que vous
                            considérez comme aujourd'hui acquises, mais aussi vous questionner sur des métiers qui pourraient probablement exister demain. On vous souhaite un bon voyage !
                        </p>
                    </div>
                </div>
            </div>
            <div class="img_texte">
                <div class="content">
                  <div class="gradient"></div>
                    <div class="texte" id="texte_2">
                        <h2>Choisir une notion</h2>
                        <p>100 notions pourraient aujourd'hui condenser tous les aspects de l'humanité. A travers ces 100 notions, nous vous proposons de laisser votre trace sur le site, et de nous raconter votre histoire en rapport avec la notion choisie.
                        </p>
                    </div>
                </div>
                <div class="image">
                    <%=link_to (image_tag("choisirnotion.png", alt: "choisir une notion")), notions_path %>
                </div>
            </div>
        </section>
    </div>
</div>
