<%= render 'layouts/header'%>
<div class="fluid-container">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
    <h2 class="text-center">Notre projet</h2>
  </div>

    <div class="col-md-6 col-md-offset-3">
      <p>Le projet Twice a pour but de vous faire découvrir les enjeux du numérique de manière interactive. Vous suivrez les aventures de Paul et Anna, deux jumeaux qui ont la capacité de voyager dans le temps. A travers leurs récits et leur vision, vous découvrirez ou re découvrirez l’évolution du numérique. Cette plateforme a aussi pour objectif de permettre aux lecteurs de Twice de partager leur propre expérience.
</p><p>
 </p><hr>

                        <p>Twice est un projet mené par les étudiants de la filière MMI (Métiers du Multimédia et de l’Internet) de Bordeaux qui s’inscrit dans le cadre des projets tutorés, un module obligatoire inscrit dans le PPN du DUT. L’un de nos grands objectifs est de traiter les enjeux du numérique pour le présent ainsi que pour l’avenir, sur des points sociétaux, intellectuels, technologiques, juridiques, financiers et philosophiques. Cette année, les Projets Tuteurés sont encadrés par M. Cattelain et Mme Bornerie, et s’étendront sur une période de 18 mois. Notre objectif est le suivant : partager notre aventure numérique à travers un outil multimédia, afin de le présenter en 2018 au forum « for in ». L’idée de “Twice” nous est venue à la suite de nombreuses heures de réflexion au sein de notre équipe. Nous avons souhaité créer une plate-forme permettant de naviguer selon les notions et les années. Dans un design simple et épuré, mêlant photographies, vidéos, motion design, sons et articles, notre site web propose au lecteur un voyage à travers l’espace, le temps et les cultures, accompagné de nos deux jumeaux, Paul et Anna. L’un des autres enjeux majeurs est celui de faire perdurer le site dans le temps. Ainsi, de nombreux articles pourront être ajoutés au fur et à mesure, voire même édités.
Pour 2017, nous nous sommes répartis les rôles entre élèves de première et deuxième année. Notre équipe est composée de : Florian VILLAGER, Fleur GRIFFON, Swann LATASA, Margaux JESTIN, Elie MARGOET, Noemi LAMANE, Aurélien LAFON et Emma JOUFFROY, en deuxième année. Et de Benjamin MOQUET, Yann LE ROUX, Elisa MAUGER, Thomas HAWKINS, Gala HERIL, David LAURES, Gwendal VALENTINE et Inès LE BUHAN, en première année </p>

<p>Nous espérons que vous ferez bon voyage et que vous serez autant transporté que nos deux jumeaux dans cette aventure numérique qu’est Twice.</p><hr>
<p>Si vous le souhaitez, vous pouvez nous contacter à l’adresse suivante : </p>
<p> Téléphone : <a href="tel:555-555-5555">+33 6 80 98 87 89</a></p>
<p> Mail : <a href="mailto:doittwice@gmail.com">doittwice@gmail.com</a></p>
<p> Addresse : 1 rue Jacques Ellul </p>


  </div>
</div>
