//Colours
$green: #c5cfd5;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

.article_form label{
  display: block;
  padding-bottom: 10px;
}
.article_form h1{
  text-align: center;
}
.article_form textarea{
  margin: 1vh 0vw;
  padding: 0;
}
.article_form input[type="file"] {
  margin: 15px;
}
form input[type=text],
form input[type=password],
form input[type=email],
form input[type=number],
form input[type=url],
form input[type=tel],
form input[type=date],
form textarea,
#article_notion_ids{
  width: 50vw;
  margin-bottom: 20px;
}
#article_notion_ids{
}
.article_form .back{
  margin-left: 10vw;
  margin-bottom: 10vw;
}
.article_form .button input{
  width: 200px;
  box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $green;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: #c5cfd5;
    background-image: -webkit-linear-gradient(45deg, #c5cfd5 50%, transparent 50%);
    background-image: linear-gradient(45deg, #c5cfd5 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;

}
form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover,
form input[type=submit]:not(.disabled):focus, form input[type=button]:not(.disabled):focus, form button:not(.disabled):focus{
  color: black;
  outline: 0;
  border-color: #c5cfd5;
  background-image: linear-gradient(45deg, #c5cfd5 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;

}
form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover{
  background-position: 0;
}
.article_form .button a{
  text-shadow: 0px;
}
