.img_header_articles {
  background-image: url('header_articles.png');
  height: 150px;
  background-position: center center;
  background-size: cover;

  a {
    text-decoration: none;
    width: 10%;
  }
}
