.img_header_articles {
  background-image: url('header_articles.png');
  height: 150px;
  background-position: center center;
  background-size: cover;
  padding-left: 25px;

    a {
      text-decoration: none;
      width: 10%;
    }

    h1{
      margin-bottom: 0;
      padding-bottom: 0;
    }

}
