.header_comments{
  background-image: url('visiontwice.jpg');
  width : 60%;
  margin-left: 20%;
  height: 150px;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  clear: both;

  h3 {
    color: #ffffff;
    font-family: "Avenir";
    letter-spacing: 0.5em;
  }
}
