.img_header{
  position: static;
  top: 0;
  width: 100%;
  height: 180px;
  background-position: center center;
  repeat: no-repeat;
  background-size: cover;


  h2 {
    margin-top: 0 ;
    color: #ffffff;
    letter-spacing: 0.3em;
    font-family: "Avenir next";
    display: block;
    padding-top: 90px;

  }
  h1{
    position: absolute;
    font-size: 1px;
    float: left;
    margin-top: 0;
    padding: 40px 0 20px 25px;
  }

  a {
    width : 125px;
  }

}
