// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cd-horizontal-timeline .events-content li>* {
    /* max-width: 800px; */
    margin: 0 75px;
}

div.test {
    width: 600px;
    height: 500px;
    overflow-y: scroll;
    padding-left: 50px;
}
  p.legende {
    max-width: 600px;
    float: left;
    /* float: right; */
    /* margin: 0; */
    /* clear: both; */
}

.middle {
    /* width: 800px; */
     width: 600px;
     max-height: 400px;
    margin-right: 0;
    float: left;
    }

.middle img{
  max-width: 800px;
  max-height: 500px;
  }

  details, .archives {
    clear: both;
    margin: 0;
  }

  .cache {
      height: 200px;
      width: 300px;
      background-color: red;
      position: absolute;
      bottom:200px;
      overflow:visible;
  }
