// Place all the styles related to the notions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notions {
  img {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-left: 15px;
  margin-top: 15px;
}

img:hover {
  opacity: 0.5;
}
}

.liste_articles {
  margin-top: 15px;
  margin-bottom: 30px;
}

.comments {
  width: 60%;
  margin-left: 20%;
}

.form_comments {
  position: static;
  margin-bottom: 100px;
}
