<header style="background-image: url('<%= image_url(@notion.photo.url)%>');" class="img_header">
    <h1>
        <%= link_to 'Twice', pages_home_path %>
    </h1>
    <h2 class="text-center">
      EN SAVOIR PLUS SUR 
         <%= @notion.name %>
    </h2>
</header>
