<header style="background-image: url('<%= image_url(@notion.photo.url)%>');" class="img_header">
    <h1><%= link_to 'Twice', pages_home_path %></h1>
    <h2 class="text-center">En savoir plus sur la notion <%= @notion.name %></h2>
    <div class="search"><input class="text-center" type="search" placeholder="Entrez un mot-clef" name="the_search"></div>

</header>
